Package: de.posdorfer.AvatarSync
Name: AvatarSync
Version: 0.9.20
Architecture: iphoneos-arm
Description: App for applying profile pictures from various sources
Maintainer: mordredd666@gmail.com
Author: Mordred
Section: Application
